.main {
  background-color: #f2f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
}

.typo__title {
  color: #00bfff;
  display: inline-block;
  margin-left: 13%;
  align-self: start;
}

.main__container {
  display: flex;
  justify-content: center;
  background-color: white;
  min-height: 100%;
}

.main__form {
  width: 100%;
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.separate__label {
  background-color: #f2f3f4;
}
